body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  padding-top: 2em;
  justify-content: space-evenly;

}

#root {
  display: grid;
  place-items: center;
  grid-template-rows: auto 1fr;
}

